body {
  font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  color: #1d1d1d;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}
a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 1279px) and (min-width: 64rem) {}

/* Only override this if one of the conditions for the 1500w image is met */
@media screen and (max-width: 1279px) and (min-width: 64rem) {
  body {
    background-color: red;
  }


  /*************************** NEED TO FIGURE OUT HOW TO CHANGE THE IMAGE BY CHANING THE SIZE OF THE SCREEN *****************/
  .section1_img_size {
    background-image: 'C:\Users\E80-1684\Desktop\sleek\resources\slack_desc_mobile.jpg';
  }
}

@media screen and (max-width: 64rem) {
  body {
    background-color: blue;
  }
}

/*****************************************************************/
/************************* SECTION 1 CSS *************************/
/*****************************************************************/
.section1_display_sub {
  font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
  font-weight: 700;
  line-height: 1.125;
  letter-spacing: .8px;
  font-size: .875rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  /* margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: center; */
  margin: auto;
  margin-top: 7%;
}

.section1_main {
  margin: auto;
  margin-top: 1%;
}

.section1_p {
  margin: auto;
  margin-top: 0.2%;
}

#section1_img {
  margin: auto;
  margin-top: 4%;
}

#section1_item_container {
  margin-top: 5%;
}

.section1_main {
  font-weight: 700;
  font-size: 2.875rem;
  line-height: 1.125;
  letter-spacing: .8px;
  margin-bottom: 1rem;
}

.section1_p {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.44444444;
  letter-spacing: normal;
  margin-bottom: 1rem;
}

.section1_btn_div {
  margin-top: inherit;
}

#section1_btn1 {
  margin: auto;
  margin-right: .5rem;
  background-color: #4a154b;
  border-color: #4a154b;
  color: #fff;
}

#section1_btn2 {
  margin: auto;
  margin-left: 0;
  border-color: #4a154b;
  color: #4a154b;
}
/*****************************************************************/
/************************* SECTION 2 CSS *************************/
/*****************************************************************/
.section2_container {
  margin-top: 7%;
  background-color: #f4ede4;
  overflow: hidden; /******************************************NEED TO CHECK HOW TO FIGURE IT OUT************************************************************************************/
}

.section2_col1 {
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-60%, 30%);
  margin-top: 3%;
}

.section2_part1_items {
  margin-bottom: 3rem;
}
 
.section2_part1_items {
  width: 60%;
  margin-top: 5%;
  margin-left: 20%;
  margin-bottom: 15%;
}

.section2_part3_items {
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(0%, 30%);
}

.section2_col2 {
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-60%, 30%);
  z-index: 1;
  margin-left: 20%;
}

.section2_part2_items {
  -ms-transform: translate(-50%, -50%);
  transform: translate(15%, 30%);
}

.img2 {
  margin-left: -130%;
}

.section2_container .section2_part2_items {
  margin: 0 auto;
  width: 60%;
  margin-bottom: 15%;
}

.section2_col3 {
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-60%, 30%);
}

.section2_col3 {
  -ms-transform: translate(-50%, -50%);
  transform: translate(-120%, 100%);
  z-index: 1;
  margin-left: 20%;
}

.section2_container .section2_part3_items {
  margin: 0 auto;
  width: 60%;
  margin-top: 3%;
  margin-bottom: 10%;
}

.c-feature-tile {
  background-color: #fff;
  border: none;
  box-shadow: 0 0 2rem rgba(0,0,0,.1);
  color: #000;
  display: flex;
  flex-direction: column;
  font-size: 1.125rem;
  height: 117px;
  line-height: 1.625rem;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition: transform 420ms cubic-bezier(.165,.84,.44,1);
}

.full {
  height: 100%;
}

.short {
  width: 100%;
}

.section2_img {
  position:absolute;
  z-index: 0;
}

.img1 {
  top: -30%;
  left: 40%;
}

.img3 {
  top: 30%;
  left: 30%;
}

/*****************************************************************/
/************************ SECTION 3 CSS **************************/
/*****************************************************************/

.section3_container {
  margin-top: 5%;
}

.section3_container .section3_headline {
  margin: 0 auto;
  width: 50%;
  margin-bottom: 3%;
}

.section3_item1, .section3_item2, .section3_item3 {
  box-shadow:0 0 2rem rgba(0,0,0,.1);
}

.section3_item1:hover, .section3_item2:hover, .section3_item3:hover {
  box-shadow:0 0 2rem rgba(0,0,0,.2)
}

/*****************************************************************/
/************************* SECTION 4 CSS *************************/
/*****************************************************************/
#section4_container {
  background-size: 1300px 700px;
  background-repeat: repeat;
  background-image: url(/80588/spacesuit/source/images/backgrounds/bg-halftone-black-20p.png);
  background-color: #4a154b;
  align-items: center;
  height: 370px;
  position: relative;
  margin-top: 5%;
}

#section4_div {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#section4_row1 {
  color: white;
}


#section4_btn1{
  background-color: #fff;
  color: #611f69;
  fill: #611f69;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}
 
#section4_btn2{
  background-color: transparent;
  color: #fff;
  fill: #fff;
  box-shadow: inset 0 0 0 1px #fff;
  margin-top: 5%;
}